<h1> Employee Sales </h1>

<table>
  <thead>
    <tr>
      <th><%= @employee.first_name %></th>
      <th><%= @employee.last_name %></th>
      <th><%= @employee.email %></th>
    </tr>
  </thead>

  <tbody>
    <td> Sale Amount </td>
    <td> Sale Date </td>
    <td> Sale Invoice No. </td>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.sale_amount %></td>
        <td><%= sale.sale_date %></td>
        <td><%= sale.invoice_no %></td>
      </tr>
    <% end %>
  </tbody>
</table>










<!-- Acceptance Criteria: * I want to see all of the employee's sales * An employee's profile should show their name and email * An employee's profile should list all of their sales to date * All sales should be listed in descending order based on sale amount -->
