<%= link_to 'Back', employees_path %> <br>

<h1>Employee Sales</h1>

<table>
  <thead>
    <tr>
      <th><bold>Name</bold></th>
      <th><bold>Email</bold></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @employee.first_name %><%= @employee.last_name %></td>
      <td><%= @employee.email %></td>
    </tr>
    <tr>
      <th>Total Sales</th>
      <th>Customer and Account Number</th>
      <th>Product Name</th>
      <th>Sale Date </th>
    </tr>

    <% @sales.each do |sale| %>
      <tr>
          <td> <%= sale.sale_amount.to_f.round(2) %> </td>
          <td> <%= sale.customer_and_account_no %> </td>
          <td> <%= sale.product_name %> </td>
          <td> <%= sale.sale_date %> </td>
      </tr>
    <% end %>
  </tbody>
</table>







<!-- Acceptance Criteria: * I want to see all of the employee's sales * An employee's profile should show their name and email * An employee's profile should list all of their sales to date * All sales should be listed in descending order based on sale amount -->
