<h1>Sales (Trailing 15 months)</h1>

<table>
  <thead>
    <tr>
      <th>Sale Date</th>
      <th>Sale Amount</th>
      <th>Invoice Number</th>
      <th>Units Sold</th>
      <th>Price Per Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @trailing_sales.each do |sale| %>
      <tr>
        <td><%= sale.sale_date %></td>
        <td><%= sale.sale_amount.round(2) %></td>
        <td><%= sale.invoice_no %></td>
        <td><%= sale.units_sold %></td>
        <td><%= (sale.sale_amount / sale.units_sold).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
